<%= link_to "Cars Index", "/cars" %>
<%= link_to "Dealerships Index", "/dealerships" %>
<h1>Dealerships</h1>

<% @dealerships.each do |dealership| %>
  <p>
    <b><%= link_to dealership.dealername, "/dealerships/#{dealership.id}"%></b>
      Created at: <%= dealership.created_at %>
      <%= link_to "Edit #{dealership.dealername}", "/dealerships/#{dealership.id}/edit"%>
      <%= button_to "Delete #{dealership.dealername}", "/dealerships/#{dealership.id}", method: :delete %>
  </p>
<% end %>

<%= link_to "New Dealership", "/dealerships/new" %>


