<% @cars.each do |car| %>
<h2><%= car.make %></h2>
<h3>Model: <%= car.model %></h3>
<h4>Year: <%= car.year %></h4>
<p>Miles: <%= car.miles %></p>
<p>Leasing Options?: <%= car.available_for_lease%></p>
<h4>Price: <%= "$#{car.price}" %></h4>
<% end %>
