<%= link_to "Cars Index", "/cars" %>
<%= link_to "Dealerships Index", "/dealerships" %>
<h1>Cars</h1>
<% @cars.each do |car| %>
<p>
<b><%= car.make %></b>
<%= link_to  "Edit Vehicle", "/cars/#{car.id}/edit"%>
<p>
<p>Model: <%= car.model %></p>
<p>Year: <%= car.year %></p>
<p>Miles: <%= car.miles %></p>
<p>Leasing Options? <%= car.available_for_lease%></p>
<p> Located at: <%= car.dealership.dealername %></p>
<h4>Price: <%= "$#{car.price}" %></h4>
<% end %>
